
<div *ngIf="isLoading" class="loading">
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="!isLoading">

	<app-toolbar
		[config]="toolbarConfig"
		(events$)="onToolbarEvent($event)"
	></app-toolbar>

	<div class="view-grid">

		<div class="group-list">
			<app-user-group-list
				[userGroups$]="userGroups$"
				(selectUserGroup)="selectUserGroup($event)"
				(addUserGroup)="addUserGroup()"
			></app-user-group-list>
		</div>

		<div class="group-form">
			<app-user-group-form
				[userGroup$]="selectedUserGroup$"
				[users$]="users$"
				[roles$]="roles$"
				[revert$]="revertForm$"
				(formChanges)="onUserGroupFormChange($event)"
				(formValidChanges)="onUserGroupFormValidChange($event)"
				(formDirtyChanges)="onUserGroupFormDirtyChange($event)"
			></app-user-group-form>
		</div>

	</div>

</div>
