<div *ngIf="isReady && contacts">

    <table class="app-table">
  
      <tr>
        <th (click)="clickColumnHeader('_label_fullName')">
          Nombre
          <mat-icon *ngIf="isSortingByProperty('_label_fullName', 'desc')" aria-hidden="false" aria-label="Sorting by Full Name Descending">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="isSortingByProperty('_label_fullName', 'asc')" aria-hidden="false" aria-label="Sorting by Full Name Ascending">arrow_drop_up</mat-icon>
        </th>
        <th (click)="clickColumnHeader('_label_alias')">
          Alias
          <mat-icon *ngIf="isSortingByProperty('_label_alias', 'desc')" aria-hidden="false" aria-label="Sorting by Alias Descending">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="isSortingByProperty('_label_alias', 'asc')" aria-hidden="false" aria-label="Sorting by Alias Ascending">arrow_drop_up</mat-icon>
        </th>
        <th (click)="clickColumnHeader('_label_date')">
          Fecha nacimiento/constitución
          <mat-icon *ngIf="isSortingByProperty('_label_date', 'desc')" aria-hidden="false" aria-label="Sorting by Date Descending">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="isSortingByProperty('_label_date', 'asc')" aria-hidden="false" aria-label="Sorting by Date Ascending">arrow_drop_up</mat-icon>
        </th>
        <th (click)="clickColumnHeader('_label_type')">
          Tipo contacto
          <mat-icon *ngIf="isSortingByProperty('_label_type', 'desc')" aria-hidden="false" aria-label="Sorting by Date Descending">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="isSortingByProperty('_label_type', 'asc')" aria-hidden="false" aria-label="Sorting by Date Ascending">arrow_drop_up</mat-icon>
        </th>
      </tr>
  
      <tr *ngFor="let contact of contacts" (click)="clickContact(contact)" class="hover-bg-shadow hover-pointer">
        <td>{{ contact._label_fullName }}</td>
        <td>{{ contact._label_alias }}</td>
        <td>{{ contact._label_date }}</td>
        <td>{{ contact._label_type }}</td>    
      </tr>
  
    </table>
  
    <!--<pre>{{ contacts | json }}</pre>-->
  
  </div>
  