<div *ngIf="inputsReady">

	<form [formGroup]="fGroup" class="full-width">
		<ng-container *ngIf="fControlName">

			<ng-container *ngIf="!isFormArrayMember">

					<mat-checkbox formControlName="{{ fControlName }}">{{ label }}</mat-checkbox>

			</ng-container>

			<ng-container *ngIf="isFormArrayMember">

				<ng-container formArrayName="{{ fArrayName }}">
					<ng-container [formGroupName]="fArrayIndex">

						<mat-checkbox formControlName="{{ fControlName }}">{{ label }}</mat-checkbox>

					</ng-container>
				</ng-container>

			</ng-container>

		</ng-container>
	</form>

</div>
<div *ngIf="!inputsReady">
	<p>not ready</p>
</div>
