<div *ngIf="inputsReady">

	<ng-container *ngIf="!multiple">

		<ng-container *ngIf="fControlName">

			<mat-form-field class="full-width">

				<mat-label>{{ label }}</mat-label>

				<form [formGroup]="frontForm" class="full-width">
					<input matInput #moneyInput formControlName="money"
						(change)="onMoneyFrontFormSingleChange($event, moneyInput.value)" 
					>
				</form>

				<mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>

			</mat-form-field>

		</ng-container>

	</ng-container>

</div>

