
@import "~src/assets/css/_variables.scss";

.wrapper {
	position: fixed;
	padding: 0;
	margin: 0;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background-color: $primary;
}

.content-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 280px;
}

.login-box {
	background-color: #e3eaebdc;
	padding: $spacing-lg $spacing-lg;
}

.login-box-footer {
	display: flex;
	flex-direction: row;
}

.login-box-footer > div:first-child {
	flex-grow: 1;
	font-size: $font-sz-sm;
}

.login-box-footer > div:first-child a {
	position: absolute;
	bottom: 0;
}

.recover {
	font-size: $font-sz-sm;
	text-align: right;
	margin-top: $spacing-xs;
}

.footer {
	color: white;
	font-size: $font-sz-sm;
	margin-top: $spacing-sm;
}

.header {
	text-align: center;
	padding: 28px 0;
}

a.light {
	color: $accent;
}

.error-message {
	color: $error;
	font-size: $font-sz-sm;
	text-align: center;
}
