
<div *ngIf="inputsReady">

  <ng-container *ngIf="fControl && !fControlName">

    <form [formGroup]="fGroup" (submit)="_onSubmit()" class="full-width">
      <mat-form-field class="full-width">

        <mat-label>{{ label }}</mat-label>
        <input matInput type="password" [formControl]="fControl">
        <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>

      </mat-form-field>
    </form>

  </ng-container>

  <ng-container *ngIf="fControlName && !fControl">

    <form [formGroup]="fGroup" (submit)="_onSubmit()" class="full-width">
      <mat-form-field class="full-width">

        <mat-label>{{ label }}</mat-label>
        <input matInput type="password" formControlName="{{ fControlName }}">
        <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>

      </mat-form-field>
    </form>

  </ng-container>

</div>
<div *ngIf="!inputsReady">
  <p>not ready</p>
</div>
