
<div *ngIf="isLoading" class="loading">
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="!isLoading">

	<app-toolbar
		[config]="toolbarConfig"
		(events$)="onToolbarEvent($event)"
	></app-toolbar>

	<div>
		<app-contact-form-view
			[contact$]="contact$"
			[revert$]="revertForm$"
			(formChanges)="onContactFormChange($event)"
			(formValidChanges)="onContactFormValidChange($event)"
			(formDirtyChanges)="onContactFormDirtyChange($event)"
		></app-contact-form-view>
	</div> 

</div> 
